<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhl.cinemaService.mapper.MovieCinemaMapper">
    <select id="getcinemaById" resultType="com.lhl.cinemaService.entity.TCinema">
        SELECT DISTINCT
            t_cinema.*
        FROM
            t_cinema
                LEFT JOIN movie_cinema mc ON mc.c_id = t_cinema.c_id
        WHERE
            mc.t_id = #{id}
    </select>
</mapper>
