<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhl.moviedataser.mapper.MMovieMapper">
    <select id="getMovieByTid" resultType="com.lhl.moviedataser.entity.MMovie">
        SELECT DISTINCT
            m_movie.*
        FROM
            m_movie
                LEFT JOIN movie_cinema ON movie_cinema.t_id = m_movie.t_id
        WHERE
            movie_cinema.c_id = #{cid}
    </select>
</mapper>
